table {
    width: 100%;
    border-collapse: collapse;
}

.header_fixed {
    max-height: 100vh;
    width: 100%;
    overflow: auto;
    border: 1px solid #dddddd;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: #20c997;
    color: white;
    font-size: 15px;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

td img {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: 5px solid #e6e7e8;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: white;
}

tr:hover td {
    color: #545b62;
    cursor: pointer;
    background-color: #edeef1;
}

td button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: #44b478;
    color: #e6e7e8;
}


.adduser {
    margin: 5px;
}